langchain
tiktoken
langchain_huggingface
pymupdf
flask
pdfplumber
flask-cors
gunicorn
sentence-transformers==2.6.1
uvicorn
pymupdf4llm
langchain-groq
langchain-google-genai
scikit-learn
deep-translator
python-dotenv
gtts